# Compiled Object files
*.slo
*.lo
*.o
*.exe

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*~
*.vcxproj
*.vcxproj.filters
*.sln
/*.opensdf

/CMakeCache.txt
CMakeFiles/
Makefile
/config.h
src/Testing
Debug/

cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
